name: CI

on:
  pull_request:
    branches: ["main", "develop"]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/requirements.txt -r requirements/requirements-dev.txt
      - name: Run black
        run: black --check --line-length 119 spam_classifier tests
      - name: Run flake8
        run: flake8 --max-line-length 119 spam_classifier tests
      - name: Run mypy
        run: mypy spam_classifier tests
      - name: Run tests
        run: pytest tests
